<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= render @posts_por_temas %>
</p>

<%= link_to 'Editar', edit_tema_path(@tema), class:"btn btn-default" %> |
<%= link_to 'Voltar', temas_path, class:"btn btn-default" %>
