<% if flash[:notice] %>
	<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<% end %>

<h1 class="d-flex justify-content mb-4">
	<span>Posts</span>
</h1>

<%= render 'post' %>